body{
margin: 0em;
}
section{
padding: 0px;
}
div#container-cars {
    display: flex;
    width: 100%;
    flex-direction: column; 
}
.selec-car{
width: 33%;
}
.the-cars{
width: 100%;
}
#fase1{
    background-image:url(../img/background-1.jpg);
    background-size: cover;
}
#fase2{
    background-color: rgb(173, 89, 184);
}
#fase3{
    background-color: rgb(178, 171, 214);
}
#fase4{
    background-image:url(../img/ganador.jpg);
    background-size: cover;
    width: 100vw;
    height:100vh;
    background-repeat: no-repeat;
}
#fase5{
    background-color: rgb(158, 218, 134);
}
.sections{
    height: 100vh;
}
.fasewant {
    text-align: center;
    width: fit-content;
    background-color: #1e0b8a;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: 700;
    padding: 25px 0px;
    width: 390px;
    border-radius: 10px;
    font-size: 30px;
}
.selec-car {
    border: 3px solid #ad59b8;
    margin: 10px 25px;
}
.align-center{
    text-align: center;
}
.white{
    color: white;
}
.container-cars-inter {
    display: flex;
    flex-direction: row;
}
.inf_cars {
    display: flex;
    background-color: white;
    padding: 4px 20px;
    justify-content: space-between;
    border-radius: 0px 0px 15px 15px;
}
.inf-cars-number {
    font-weight: 600;
}
.dark{
    filter: grayscale(100%);
    width: 100%;
    }
.greyinfo{
    background-color:gainsboro;
    display: flex;
    padding: 4px 25px;
    justify-content: space-between;
    border-radius: 0px 0px 15px 15px;
}
.greyinfo2{
    text-align: center;
    font-weight: 700;
    background-color:gainsboro;
    padding: 11px;
    margin: 1px;
    font-size: 30px;
    }
.image-back-car {
    background: white;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    margin-bottom: 1px;
    padding: 10px 0px;
}
.flex-center-center{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
p#ss {
    font-size: 30px;
    font-weight: 600;
    margin-left: 24em;
    padding: 2em;
}
.flex-row-center-center {
    height: 100%;
    display: flex;
    height: 396px;
    background-color: white;
    flex-direction: row;
    justify-content: center;
}
.titles-cars{
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
  
    height: 354px;

}
.corredores-perfil {
    width: 25%;
}
p.pilots {
    text-align: center;
    font-weight: 700;
    background-color: white;
    padding: 11px;
    margin: 1px;
    font-size: 30px;
}
h1#title-screen3 {
    background-color: white;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-size:25px;
}

div#screen-4-align {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#button-reload-game > a {
    color: white;
    text-decoration: none;
}